<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <!--<link rel="icon" type="image/png" href="../style/elements/favicon.png" />-->
    <title>VGA</title>
  </head>
  <body>
    <section id="VGAApp">
      <header id="VGATitleContainer">
        Loading...
      </header>
      <section id="searchBar">
        <form class="form-wrapper cf" id="searchBar">
        	<input id="searchInput" type="text" placeholder="Search here..." required>
      	  <button type="submit">Search</button>
        </form>
      </section>
      <section id="main">
        <section id="main">
          <ul id="gameList">
            <label class="gameTitle">Loading</Label>
          </ul>
        </section>
      </section>
    </section>
    <script type="text/template" id="websiteTitleTemplate">
      <section class="view">
        <span id="welcome"><%- welcome %></span>
        <h1 id="VGATitle"><%- title %></h1>
        <span id="VGASubTitle"><%- subTitle %></span>
      </section>
    </script>
    <script type="text/template" id="gameTitleTemplate">
      <section class="view byline">
        <label class="gameTitle"><a href=<%= gameID %>><%= gameTitle %></a></label>
      </section>
    </script>
    <script data-main="./script/loader.js" src="./lib/require.js"></script>
  </body>
</html>
