<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <link rel="icon" type="image/png" href="style/image/favicon.png" />
    <title>VGA</title>
  </head>
  <body>
    <section id="VGAApp">
      <header id="VGATitleContainer">
        Loading...
      </header>
      <section id="searchBar">
        <form class="form-wrapper cf" id="searchBar">
        	<input id="searchInput" type="text" placeholder="Search a game..." required>
      	  <button type="submit">Search</button>
        </form>
      </section>
      <section id="main">
        <section id="main">
          <section id="gameDetails">
          </section>
          <ul id="gameList">
            <label class="gameTitle">Loading</Label>
          </ul>
        </section>
      </section>
    </section>
    <script type="text/template" id="websiteTitleTemplate">
      <section class="view">
        <span id="welcome"><%- welcome %></span>
        <h1 id="VGATitle"><%- title %></h1>
        <span id="VGASubTitle"><%- subTitle %></span>
      </section>
    </script>
    <script type="text/template" id="gameTitleTemplate">
      <section class="view byline">
        <label class="gameTitle"><a href=<%= gameID %>><%= gameTitle %></a></label>
      </section>
    </script>
    <script type="text/template" id="gameDetailsTemplate">
      <section class="view byline">
        <table class="tableGameDetails">
          <tr>
            <th>Type</th>
            <th>Data</th>
          </tr>
          <tr>
            <td data-th="Type">Title</td>
            <td data-th="Data"><a class="noLink" href=<%= gameID %>><%= gameTitle %></a></td>
          </tr>
          <tr>
            <td data-th="Type">Release date</td>
            <td data-th="Data"><%- releaseDate %></td>
          </tr>
          <tr>
            <td data-th="Type">Developer</td>
            <td data-th="Data"><%- developer %></td>
          </tr>
          <tr>
            <td data-th="Type">Computing platform</td>
            <td data-th="Data"><%- computingPlatform %></td>
          </tr>
          <tr>
            <td data-th="Type">Genre(s)</td>
            <td data-th="Data"><%- genre %></td>
          </tr>
        </table>
        <a href="" title="Back" id="backButton">Back</a>
      </section>
    </script>
    <script data-main="./script/loader.js" src="./lib/require.js"></script>
  </body>
</html>
