<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="./style/style.css">
    <!--<link rel="icon" type="image/png" href="../style/elements/favicon.png" />-->
    <title>VGA</title>
  </head>
  <body>
    <section id="VGAApp">
      <header id="VGATitle">
        Loading...
      </header>
      <section id="main">
        <section id="main">
          <ul id="gameList">
            Loading...
          </ul>
        </section>
      </section>
    </section>
    <script type="text/template" id="websiteTitleTemplate">
      <section class="view">
        <span id="welcome"><%- welcome %></span>
        <h1><%- title %></h1>
      </section>
    </script>
    <script type="text/template" id="gameTitleTemplate">
      <section class="view">
        <label><%- gameTitle %></label>
      </section>
    </script>
    <script data-main="./script/loader.js" src="./lib/require.js"></script>
  </body>
</html>
