html {
  background-color: #BBDEFB;
  padding: 0px;
  margin: 0px;
}
html, body{
  height: 100%;
}
#VGAApp {
  background-color: #448AFF;
  margin: 0 auto;
  padding: 0px;
  height:100%;
  border-radius: 5px;
  width: 800px;
}
#welcome {
  color: white;
  font-family: Milkshake;
  padding: 0;
  margin: 0;
  position: relative;
  right: 55px;
}
#VGATitle {
  color: white;
  font-family: Pricedown;
  font-size: 10em;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: 55px;
}
#VGATitleContainer {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
#VGASubTitle {
  color: white;
  font-family: FasterOne;
  font-size: 2em;
  position: relative;
  bottom: 85px;
}
@font-face {
    font-family: Milkshake;
    src: url('font/Milkshake.otf');
}
@font-face {
    font-family: Pricedown;
    src: url('font/pricedown_bl.otf');
}
@font-face {
    font-family: FasterOne;
    src: url('font/FasterOne-Regular.ttf');
}
